@import "mixins.scss";
@import "variables.scss";

.sign-in-button {
  @include border(2rem, $black, 1.5px);
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: $secondary-color;
  background-color: $tertiary-color;
  opacity: 0.9;
  font-size: 1.25rem;
  width: 15rem;
  line-height: 1.5;
  @include flex-column;
}
