@import "mixins.sass"
@import "variables.sass"

nav 
  +flex-row
  justify-content: space-between
  align-items: center
  text-align: center
  background-color: white
  border-bottom: solid $black 1px
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75)
 
  .page-nav 
    +flex-column
    align-items: flex-end
  
  .right-side-navlinks
    +flex-row 
    justify-content: space-around
    align-items: center
    
    section 
      margin: 0rem 1rem
      
      a 
        text-decoration: none
        color: $black

  .sign-in-info
    +flex-row
    align-items: center
    justify-content: flex-end
    margin: 1rem 0.5rem

    a
      text-align: right
      text-decoration: none
      color: $black

    img
      height: 1rem
      +border(10rem, $tertiary-color ,1.5px)
      margin: 0.5rem 

  .logo

    img
      margin-left: 1.5rem
      height: 6rem
      

  button
    // background-color: $secondary-color
    // +border(0.25rem, $tertiary-color ,1px)
    // height: 1.5rem
    // margin-right: 0.5rem

  input 
    margin-bottom: 1rem
    margin-right: 0.5rem
    margint-top: 0.5rem

.login
  text-align: center
  text-decoration: none
  color: $tertiary-color
  
  font-size: 1rem
  padding: 1rem
  +primary-font
  
@media (min-width: 600px)
  nav 
    .logo
      img
        margin-left: 1.5rem
        height: 10rem
      