@import "mixins.scss";
@import "variables.scss";

nav {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: white;
  border-bottom: solid $black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);

  .page-nav {
    @include flex-column;
    align-items: flex-end;
  }
  .right-side-navlinks {
    @include flex-row;
    justify-content: space-around;
    align-items: center;

    section {
      margin: 0rem 1rem;
    }
    a {
      text-decoration: none;
      color: $black;
    }
  }
  .sign-in-info {
    a {
      text-align: right;
      text-decoration: none;
      color: $black;
    }
    img {
      height: 1rem;
      @include border(10rem, $tertiary-color, 1.5px);
      margin: 0.5rem;
    }
  }
  .logo {
    img {
      margin-left: 1.5rem;
      height: 8rem;
    }
  }
  button {
    text-decoration: none;
    border: none;
    background-color: $grayish-white;
    color: black;
  }
  input {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}
.login {
  text-align: center;
  text-decoration: none;
  color: $tertiary-color;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  @include primary-font;
}
