@import "mixins.scss";
@import "variables.scss";

.browse-games-main {
  @include flex-column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
  background-color: $tertiary-color;

  h1 {
    text-align: center;
    font-size: 1.5rem;
    color: $secondary-color;
    @include md {
      font-size: 2rem;
    }
  }
  a {
    text-decoration: none;
    color: $tertiary-color;
  }
}
