@import "mixins.sass"
@import "variables.sass"

.game-details
  +flex-column
  margin: 0rem 1rem

  h1
    margin-bottom: 1rem
   

  .profile-pic
    height: 3rem
    +border(9rem, $black, 0rem)

  strong
    font-size: 1.2rem

  figure 
    margin: 0rem


.boardgame-thumbnail
  height: 8rem

.join-button
  font-size: 2rem
  color: $tertiary-color
  +border(10rem, $black, 2px)
  background-color: white
 
.leave-button
  font-size: 2rem
  color: $red
  +border(10rem, $black, 2px)
  background-color: white
    
.bottom-border
  border-bottom: solid $black 1px
  padding-bottom: 1rem

