@import "mixins.scss";
@import "variables.scss";

.game-details {
  @include flex-column;
  margin: 0rem 1rem;
  color: $tertiary-color;

  h1 {
    margin-bottom: 1rem;
    margin-right: 4rem;
    @include md {
      font-size: 2rem;
    }
  }

  strong {
    font-size: 1.2rem;
  }
  figure {
    margin: 0rem;
  }
}
.boardgame-thumbnail {
  height: 8rem;
}

.join-button {
  font-size: 1rem;
  color: white;
  @include border(10rem, $black, 1px);
  background-color: $tertiary-color;
  padding: 0.5rem 0.65rem;
}
.leave-button {
  font-size: 1rem;
  color: white;
  @include border(10rem, $black, 1px);
  background-color: $tertiary-color;
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
}

.timer-info {
  h2 {
    font-size: 1rem;
  }
}

.icon-details {
  @include flex-row;
  align-items: baseline;

  p {
    padding-right: 0.5rem;
  }
}
.bottom-border {
  border-bottom: solid $black 1px;
  padding-bottom: 1rem;
}
.join-info-top {
  @include flex-row;
  align-items: baseline;
  justify-content: space-between;
}
.main-game-info {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;

  @include md {
  }
}

.bold {
  font-weight: bold;
  font-size: 1.25rem;
}

.attend-buttons {
  text-align: center;
  p {
    margin-top: 0rem;
    margin-bottom: 6px;
  }
  margin-right: 0.5rem;
}
.description-rules {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.profile-pic {
  height: 3rem;
  @include border(9rem, $tertiary-color, 1px);
}

.red-icon {
  color: $red;
  font-size: 1.2rem;
}

.private-residence {
  @include flex-column;
}
