@import "mixins.sass"
@import "variables.sass"

.game-details
  +flex-column
  margin: 0rem 1rem

  h1
    margin-bottom: 1rem
   

  .profile-pic
    height: 3rem
    +border(9rem, $black, 0rem)

  strong
    font-size: 1.2rem

  figure 
    margin: 0rem


.boardgame-thumbnail
  height: 8rem
 
    
