@import "mixins.scss";
@import "variables.scss";

.game-details {
  @include flex-column;
  margin: 0rem 1rem;

  h1 {
    margin-bottom: 1rem;
  }

  .profile-pic {
    height: 3rem;
    @include border(9rem, $black, 0rem);
  }
  strong {
    font-size: 1.2rem;
  }
  figure {
    margin: 0rem;
  }
}
.boardgame-thumbnail {
  height: 8rem;
}

.join-button {
  font-size: 1rem;
  color: white;
  @include border(10rem, $black, 1px);
  background-color: $tertiary-color;
  padding: 0.5rem 0.65rem;
}
.leave-button {
  font-size: 1rem;
  color: white;
  @include border(10rem, $black, 1px);
  background-color: $tertiary-color;
  margin-left: 1rem;
  padding: 0.5rem 0.75rem;
}
.join-intro {
  pline-height: 1;
}

.timer-info {
  h2 {
    font-size: 1rem;
  }
}

.icon-details {
  @include flex-row;
  align-items: baseline;

  p {
    padding-right: 0.5rem;
  }
}
.bottom-border {
  border-bottom: solid $black 1px;
  padding-bottom: 1rem;
}
.join-info-top {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
}
.main-game-info {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.bold {
  font-weight: bold;
  font-size: 1.25rem;
}
