=flex-row
  display: flex
  flex-direction: row

=flex-column
  display: flex
  flex-direction: column

=border($radius, $border-color, $border-width)
  border-radius: $radius
  border: solid $border-color $border-width