$primary-color: #8fa479;
$secondary-color: #f2eaea;
$tertiary-color: #065143;
$black: #000000c4;
$grayish-white: #f4f4f4;
$blue: #09649c;
$red: #f54a33f3;
$yellow: #f1db5ff3;
$maroon: rgba(102, 15, 59, 0.822);

// media queries
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
